.pagination {
  .select-all {
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
  }
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;

    .select-all {
      position: relative;
      margin-bottom: 1rem;
    }
  }
}