@use "sass:math";
@import "variables";
.navbar-brand {
  width: 3rem;
  img {
    max-height: 2rem;
  }
}

.navbar {
  transition: margin 300ms;
  transition: height 300ms;
  z-index: 1031;
  &.top {
    margin-top: 0px;
    box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
    height: $navbar-brand-height * 0.6;
  }
  padding: 0.5rem 1rem 0.5rem 0 !important;
  margin-right: 0;
  border-right: 0 !important;
}
.actions > * {
  margin: 0;
}

.navbar-brand > img {
  transition: 0.45s;
  &.scale {
    transform: scale(0.725);
  }
}

.user-avatar {
  height: 2rem;
  width: 2rem;
  flex-basis: 2rem;
}

.modal.show .modal-dialog.menu {
  left: 0;
}
.modal-dialog.menu {
  transition: left 300ms;
  margin: -1px 0 0 0;
  left: -20rem;
  top: 0rem;
  width: 20rem;
  .modal-content {
    height: 100vh;
  }
  .list-group-flush .list-group-item {
    border: 0;
  }
}
app-category-carousel {
  width: 100%;
}

.edit-icon {
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.account-info.show {
  min-width: 20rem;
  left: inherit;
}

.scrollable {
  max-height: 22rem;
  overflow: auto;
  height: auto;
}

.dropdown-menu {
  .dropdown-body {
    apt-input-field {
      width: 100%;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

div.fixed-top {
  padding-bottom: 0.5rem;
}

.navbar-toggler {
  border: none;
}

span {
  img {
    height: 1.5rem;
  }
}

.category-list {
  flex: 1 1 auto;
}


