@import "variables.scss";

.price-summary {
  div.col-6 {
    height: 2rem;
  }
}

.file-section {
  border-style: dashed;
  border-width: 1px;
}

.note-container,
.attachment-container {
  height: auto;
  max-height: 56vh;
}

.file-upload {
  input[type='file'] {
    opacity: 0;
    z-index: -1;
  }
}

.upload-icon-position {
  left: 0;
  top: 2rem;
}

app-quote-details {
  app-detail {
    div.btn-group.global-actions {
      right: -30px;
      margin: 0 0 0 -30px;
    }

    app-detail-section {
      apt-output-field {
        span {
          margin-bottom: 0.5rem;

          dt,
          dd {
            flex-basis: 50%;
          }
        }

        &:last-child {
          span {
            margin-bottom: 0;
          }
        }
      }
    }

    .note-container,
    .attachment-container {
      height: auto;
      max-height: 56vh;
    }
  }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

  /* IE10+ CSS styles go here */
  app-detail-section table {
    display: table;
  }
}

.table-container {
  max-height: 18em;
}

.table-container table thead {
  top: 0;
  z-index: 1;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $gray-700;
  opacity:0.5;
  z-index: 9999;
}