<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ProposalName'" [(ngModel)]="quote.ProposalName"
            (ngModelChange)="quoteChange()" [label]="'CREATE_QUOTE.QUOTE_TITLE' | translate" [required]="true"
            [errorMsg]="'Quote title cannot be empty'"></apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'RFPResponseDueDate'" [(ngModel)]="quote.RFPResponseDueDate"
            (ngModelChange)="quoteChange()">
          </apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field placeholder="{{'CREATE_QUOTE.SEARCH_CONTACTS' | translate }}" [entity]="quote"
            [field]="'PrimaryContact'" [lookupOptions]="lookupOptions" [required]="true" [(ngModel)]="contact"
            (ngModelChange)="primaryContactChange()" [errorMsg]="'Primary contact is mandatory'">
          </apt-input-field>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'ShipToAccount'" [(ngModel)]="quote.ShipToAccount"
            (ngModelChange)="shipToChange()"></apt-input-field>
          <small class="px-3 font-italic d-block" *ngIf="shipToAccount$ | async as shipToAccount">
            <apt-address [ngModel]="quote?.ShipToAccount" [readonly]="true" type="Shipping" [showLabel]="false">
            </apt-address>
          </small>
        </div>
        <div class="form-group">
          <apt-input-field [entity]="quote" [field]="'BillToAccount'" [(ngModel)]="quote.BillToAccount"
            (ngModelChange)="billToChange()"> </apt-input-field>
          <small class="px-3 font-italic d-block" *ngIf="billToAccount$ | async as billToAccount">
            <apt-address [ngModel]="quote?.BillToAccount" [readonly]="true" type="Billing" [showLabel]="false">
            </apt-address>
          </small>
        </div>
        <div class="form-group">
          <apt-output-field [record]="quote.Account" field="Name" label="Sold To" [editable]="false"
            [showQuickView]="true">
          </apt-output-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div>
          <div class="form-group">
            <apt-output-field [record]="quote.PriceList" field="Name" label="Price List" [editable]="false"
              [showQuickView]="true"></apt-output-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>