<apt-breadcrumb>
  <app-action-bar></app-action-bar>
</apt-breadcrumb>
<apt-alert [autoRun]="false" [showCartError]="true"></apt-alert>
<div class="row no-gutters flex-fill">
  <div class="col-2 border-right bg-white d-none d-md-block d-lg-block d-sm-none">
    <ul class="list-group list-group-flush p-2">
      <a href="javascript:void(0)" [routerLink]="['/overview']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.OVERVIEW' | translate}}</a>
      <a href="javascript:void(0)" [routerLink]="['/orders']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.MY_ORDERS' | translate}}</a>
      <a href="javascript:void(0)" [routerLink]="['/proposals']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.MY_QUOTES' | translate}}</a>
      <a href="javascript:void(0)" [routerLink]="['/carts']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.MY_CARTS' | translate}}</a>
      <a href="javascript:void(0)" *ngIf="showFavorites$ | async" [routerLink]="['/favorites']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.MY_FAVORITES' | translate}}</a>
      <a href="javascript:void(0)" [routerLink]="['/products']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2 border-0">{{'COMMON.PRODUCT_CATALOG' | translate}}</a>
      <a href="javascript:void(0)" [routerLink]="['/user']" routerLinkActive="active"
        class="list-group-item list-group-item-action py-2">{{'COMMON.MY_ACCOUNT_SETTINGS' | translate}}</a>
    </ul>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-12 pt-2 px-4 bg-white">
    <router-outlet></router-outlet>
  </div>
</div>
