@import "variables.scss";

@keyframes slide {
  from {
    top: $navbar-brand-height;
  }
  to {
    top: 0;
  }
}
:host {
  display: block;
}
.navbar {
  transition: all 0.2s ease 0s;
  &.fixed-top {
    top: 0;
    box-shadow: $box-shadow;
    z-index: 1031;
    position: fixed;
    animation-name: slide;
    animation-duration: 0.2s;
    background-color: $light;
  }
  &.expand {
    top: calc(#{$navbar-brand-height} + 35px);
  }
  h3 {
    max-width: 95%;
  }
  .nav-link {
    margin-bottom: 0;
    color: $gray-700;
    &.active {
      border-bottom: 3px solid $blue !important;
    }
    &:hover {
      background: $gray-200;
    }
  }
}