@import "variables.scss";

apt-table {
  div.table-responsive {
    table {
      thead {
        tr {
          th {
            padding-bottom: 0.5rem !important;
          }
        }
      }
      tbody {
        tr {
          td {
            padding-bottom: 0.375rem !important;
          }
        }
      }
    }
  }
}

.title-section {
  .navbar {
    border-bottom: 1px solid $gray-300 !important;
  }
}

button.button{
  width: 63px !important;
}

.modal-body{
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
.close{
  color: white !important;
  text-shadow: 0px 0px !important;
  opacity: 1 !important;
  font-weight: normal;
}